BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SortIncludes: false
Language: Cpp
